/**
 * index.scss
 * - Add any styles you want here!
 */

body {
  background: #F3BAAD;
}

.quote-page {
  background: #F3BAAD;
}

.quote-box {
  background: white;
  margin: 5% 20% auto 20%;
  padding: 5% 5% 5% 5%;

}

.quote-text {
 
}

.authors {
 
}

.btn-bar {
  
}

#new-quote {
  
}

.hpd {
  
}

